<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengming.mapper.UserWorkMapper">
    <select id="getUserWorkList" resultType="com.chengming.vo.UserWork">
        select name, workDate, beginTime, endTime, createTime
        from user_work
        where flag = 1
    </select>
</mapper>